services:
  portfolio-frontend:
    container_name: portfolio_frontend
    build:
      context: . 
    restart: always
    networks:
      - cloud-network
      
networks:
  cloud-network:
    external: true
